*

.barraNav{
    background-color: #ac4141;
display: flex;
margin-left: 40px;


}
.barraNav a{
padding-left: 30px;
}
.barraNav ul li{

  display: inline;
  margin-left: 20px;
  color: aliceblue;
  font-size: 20px;
}
.barraNav ul li:hover{
  color:burlywood;
transition: 1s;
}

.banner{
  margin-left:350px;

}

.container {

display: flex;
margin:auto ;

  width: 90%;
  height: 85px;
  border: 1px solid black;

}
.op{
  font-size: 22px;
  padding-top: 15px;
border: 1px solid black;
   background-color: #ceca96;
   width: 35%;
   text-align: center;
}
.nada{
  background-color: #ac4141;
  border: 1px solid black;
  width: 20%;
}
.mostrarEn{
  background-color: #ac4141;
  color:#d1b464;
  width:35%;
  text-align: center;
  padding-top: 18px;
  font-size: 20px;

}
.btn{
  background-color: #d1b464;
  height: 35px;
  margin-left: 25px;
  cursor: pointer;
  border-radius: 5px;

}
.btn:hover{
  color: #e5dd8c;
}
.vacio{
  width: 6px;
  background-color: #d1b464;
}
.card{
  display: flex;
border: 4px solid #ac4141;
  background-color: #ac4141;
  width:99%;
  height: 550px;
  margin-left: 48px ;
margin-top: 40px;
border-radius: 5px;
}
.card:hover{
  transform: translateX(40px);
  transition: 200ms ;
}
.izquierda{
border : 1px solid black;
height: 99%;
display: flex;
align-items:center;
flex-direction:column;
  border : 1px solid black;
width: 33%;
padding: auto;


}
.arriba{
text-align: center;
height: 33%;

background-color: #d1b464;
width: 100%;
}
.arriba:hover{
  transform: scale(.9);
  transition: 235ms ease-in-out;
border-radius: 5px;}
.medio{
  height: 33%;
  width: 100%;


  background-color: #d1b464;
  }
  .medio:hover{
    transform: scale(.9);
    transition: 235ms ease-in-out;
  border-radius: 5px;}
  .abajo{
    height: 33%;
    width: 100% ;

    overflow-y: scroll;
    }
    .abajo:hover{
      transform: scale(.9);
      transition: 235ms ease-in-out;
    border-radius: 5px;}

.centro{
  border : 1px solid black;
width: 33%;
color :wheat;
font-size: 25px;
overflow-y: auto;

}
.derecha{
  background-color: #e5dd8c;
  display: flex;
align-items:center;
flex-direction:column;
  border : 1px solid black;
width: 33%;

}
.f1{

  width: 100%;
  height: 33%;
  background-image: url(../img/hosp1.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
background-size: cover;
}
.f1:hover{
  transform: scale(.9);
  transition: 235ms ease-in-out;
  border-radius: 5px;

}

.f2{
  width: 100%;
  height: 33%;
  background-image: url(../img/hoap2.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

}
.f2:hover{
  transform: scale(.9);
  transition: 235ms ease-in-out;
  border-radius: 5px;

}
.f3{
  width: 100%;
  height: 33%;
  background-image: url(../img/hosp3.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.f3:hover{
  transform: scale(.9);
  transition: 235ms ease-in-out;
  border-radius: 5px;

}
.tino{
  height: 500px;
  background-color: #ac4141;
  margin-top: 80px;
display: flex;
flex-direction: column;
align-items: center;
}
.tino h3{
  font-size: 25px;
  color: aliceblue;
}
.tino p{
  font-size: 20px;
  color: aliceblue;
}
.accesos{
display: flex;
flex-direction: column;
align-items: center;
}
.accesos h3{
  font-size: 30px;
  color: #ac4141;
}
.items{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
  padding-bottom: 25px;


}
.items img{

  background-color: #cf9191;
  border: 1px solid black;

  border-radius: 50%;
}
  a {
text-decoration: none;
}
.muni{
  background-color: #ac4141;
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px;

}
.muni h2{
  color :#fff ;
}
.btnAqui{
  font-size: 20px;
  margin-top: 50px;
  width: 140px;
  height: 90px;
  color: aliceblue;
background-color: #ac4141;
border: 2px solid white;
border-radius: 35px  ;
cursor: pointer;
}
.btnAqui:hover{
  background:#fff;
  color:#ac4141;
  transition: .5s;
}
.galeria{
  background: #d0e6e9;
  width: 100%;
  text-align: center;
  height: 300px;
  margin-top: 40px;
}
.btn-gal{
  background: #ac4141;
  width: 160px;
  height: 50px;
  border-radius: 30px;
  color:aliceblue;
  border: none;
}
.btn-gal:hover{
background: #000;
transition: .5s;

}
.gridImg{
  display: grid;
  grid-template-columns: auto auto;
  background-color: #040405;
  padding: 5px;


}
.gridImg img:hover{
  opacity: 0.2;


}
